<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> </title>
  <link rel="stylesheet" href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/plugins/line-numbers/prism-line-numbers.min.css">
  <link rel="stylesheet" href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/themes/prism.min.css">
  <link rel="stylesheet" id="theme-link" href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/themes/prism.min.css">
  <link rel="stylesheet" href="index-ai.css">
</head>
<body>
  <div id="app" v-cloak>
    <div class="sidebar" :class="{ hidebar: !showSidebar }">
      <div class="side-setting">
        <div class="theme-toggle" @click="isDarkMode = !isDarkMode">{{ isDarkMode ? '🌙' : '☀️' }}</div>
        <div class="setting-icon" title="设置" onclick="location.href = './setting.html'">⚙️</div>
        <div class="setting-icon icon-ai" title="其他AI网站" onclick="window.open('./ai.html')">🌏</div>
        <div class="setting-icon" v-show="chatSyncCode" :class="{ rotating: syncing }" title="手动上传聊天记录, 默认10秒同步一次" @click="syncChat">♻</div>
      </div>
      <div class="sidebar-header">
        <select v-model="config.provider" @change="providerChange" placeholder="选择服务商">
          <option v-for="provider in providers" :key="provider.name" :value="provider.name">{{ provider.name }}</option>
        </select>
        <select v-model="config.model" placeholder="选择模型">
          <option v-for="model in currModels" :key="model" :value="model">{{ model }}</option>
        </select>
        <select v-model="config.theme" placeholder="选择代码主题">
          <option v-for="theme in themes" :key="theme" :value="theme">{{ theme }}</option>
        </select>
        <select v-model="config.prompt" placeholder="选择系统助手">
          <option value="">选择系统助手</option>
          <option v-for="(item, ind) in prompts" :key="ind" :value="item.id">{{ item.name }}</option>
        </select>
        <button @click="createNewChat">+新对话</button>
      </div>
      <div class="history">
        <div v-for="(chat, index) in chatHistory" :key="chat.id" class="history-item"
          :class="{ active: chat.id === currentChatId }" @click="selectChat(chat.id)" @dblclick="renameChat(chat)">
          <a class="history-item-title" href="javascript:void(0);" :title="chat.title">{{ chat.title }}</a>
          <button @click.stop="deleteChat(chat.id)" class="delete-chat">×</button>
        </div>
      </div>
    </div>
    <div class="chat-container" @click="showSidebar = false">
      <div class="chat-messages" ref="chatMessages" @click="handleChatClick">
        <div v-for="(message, index) in currentChatMessages" :key="index" :id="'curr-chat-' + index" class="message-wrapper" :class="message.role">
          <div class="avatar">{{ message.role === 'user' ? 'U' : 'AI' }}</div>
          <div class="content">
            <div v-if="message.isError">
              <span>请求失败, 请打开调试窗口查看错误信息.</span>
              <button class="retry-btn" @click="retryLastMessage">重试</button>
            </div>
            <div v-else-if="message.role === 'user'" 
              class="prose" 
              :class="[message.role, 'msg_' + (message.id || 'u')]" 
              :style="{ fontSize: (config.fontSize || 16) + 'px' }">{{ message.content }}</div>
            <div v-else
              class="prose" 
              :class="[message.role, 'msg_' + (message.id || 'm')]" 
              :style="{ fontSize: (config.fontSize || 16) + 'px' }" 
              v-html="renderMarkdown(message.content, message.role === 'user')"></div>
            <div v-if="isStreaming && index === currentChatMessages.length - 1" class="pulse-dots"><i></i><i></i><i></i></div>
            <div v-if="!message.isError" class="message-actions">
              <button v-show="message.content" class="action-btn" @click="e => copyToClipboard(message.content, e.target)">复制</button>
              <button v-if="message.role === 'assistant' && index === currentChatMessages.length - 1" class="action-btn" @click="retryLastMessage">重试</button>
              <button v-if="message.role === 'user'" class="action-btn" @click="userInput = message.content">重问</button>
              <button v-if="message.role === 'user'" class="action-btn" @click="delMessage(message, index)">删除</button>
              <div v-if="message.tokenCount" class="token-count"><span v-if="message.remark">模型: {{ message.remark }} </span> 长度: {{ message.tokenCount }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-input-area">
        <div class="input-before" title="支持上下文, 消耗更多token" @click="useContext =! useContext">{{ useContext ? '🟢' : '🔴' }}</div>
        <div class="chat-input-wrapper">
          <textarea v-model="userInput" class="chat-input" @keydown.enter="handleEnter"
            placeholder="输入消息提问...(Shift+Enter 换行)" rows="1"></textarea>
          <button v-if="userInput" class="send-btn del" @click="userInput = ''">✖</button>
          <button v-if="!isStreaming" class="send-btn" @click="sendMessage">➤</button>
          <button v-if="isStreaming" class="stop-btn" @click="stopStream">■</button>
        </div>
        <div class="to-top auto-scroll" :class="{ opacity: autoScroll }" @click="autoScroll = !autoScroll" title="解除自动滚动底部">⇅</div>
        <div class="to-top" @click="scrollToBottom(true)" @dblclick="goTop" title="单击到底部, 双击回顶部">⇩</div>
      </div>
      <div class="toggle-side" @click.stop="showSidebar = !showSidebar">📰</div>
    </div>
    <div class="chat-nav">
      <div class="nav-item line1" v-for="(message, ind) in currentChatMessages" :key="ind">
          <span v-if="message.role === 'user'" @click="scrollToChat(ind)" :title="message.content"><i>➤</i>{{ message.content }}</span>
          <span v-if="message.role !== 'user' && message.dir && message.dir.length">
            <b v-for="(d, din) in message.dir" @click="scrollToChatDir(message, d)" :title="d.c" :key="din" class="line1"><i>➤</i>{{ d.c }}</b>
          </span>
      </div>
    </div>
    <div class="dialog" v-show="dialogShow" @click.self="dialogShow = false">
      <div class="dialog-cont"><textarea  v-model="dialogCont"></textarea></div>
    </div>
  </div>

  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/vue/3.5.17/vue.global.prod.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/marked/16.0.0/lib/marked.umd.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/localforage/1.10.0/localforage.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/prism.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/components/prism-java.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/components/prism-bash.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/components/prism-batch.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/components/prism-go.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/components/prism-python.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/prism/1.30.0/components/prism-sql.min.js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/pako/2.1.0/pako.min.js"></script>
  <!-- <script src="index.js"> </script> -->
  <script src="dist.min.js"></script>
  <script src="index-ai.js"></script>
</body>
</html>
